@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import './reset.css';

/* 
font-family: "DM Sans", sans-serif;
font-family: "Outfit", sans-serif;
font-family: "Space Grotesk", sans-serif;
*/

:root {
    --black: #171718;
    --black-border: #26292D;
    --white: #FFF;
    --purple: #5C62EC;

    --page-text-color: var(--black);
    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);
}

html, body {
    font-family: "Inter", sans-serif;
    letter-spacing: -0.5px;
    color: var(--page-text-color);
}

html {
    scroll-behavior: smooth;
}

.conteiner {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

/* NAV */
.nav {
    padding: 20px 0;
    border-bottom: 1px solid var(--black-border);
    background-color: var(--dark-bg);
    color: var(--white);
    position: fixed; /* Фиксируем навигацию */
    top: 0;
    width: 100%;
    z-index: 1000; /* Обеспечиваем отображение поверх всего */
}

.nav-row {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px; 
    row-gap: 20px;
}

.logo {
    color: var(--white);
    font-size: 24px;
    font-family: "Outfit", sans-serif; 
}

.logo strong {
    font-weight: 700;
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter", sans-serif; 
}

.nav-list__link {
    color: var(--white);
    transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
    opacity: 0.8;
}


/* HEADER */

.header {
    margin-top: 40px;
    min-height: 695px;
    background-color: var(--dark-bg);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../img/Abstract.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.header-wrapper {
    max-width: 640px;
    padding: 0 15px;
}

.header__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    text-wrap: balance;
}

.header__title strong {
    font-size: 50px;
    font-weight: 700;
}

.header__title em {
    font-style: normal;
    color: var(--accent);
}

.header-text {
    max-width: 400px;
    margin-bottom: 40px;
    line-height: 1.333;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.7;
    text-align: center;
    word-break: keep-all;
    letter-spacing: 0.2px;
    hyphens: auto;
    display: flex;
    justify-self: center;
}

.header-text p + p {
    margin-top: 1em;
}

.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;
    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;
    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    position: relative;
    top: 1px;
}



/* MAIN */

.main {
    padding: 30px 0;
    background-color: var(--black);
    color: var(--white);
}

.tool__cont {
    padding: 0 30px;
}

.tools__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 520px;
    row-gap: 10px;
    padding-top: 60px;
}
.tools__h {
    display: flex;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: var(--white);
    
}
.tools__text {
    display: flex;
    font-size: 16px;
    opacity: 0.7;
    color: var(--white);
    text-align: justify;
}
.tools__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    padding-top: 20px;
}
.card {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 10px;
    background-color: transparent;
    border: 2px solid var(--dark-border);
    border-radius: 9px;
    width: 260px;
}

@media screen and (max-width: 640px) {
    .card {
        width: 160px;
        height: 83px;
    }
    .nav-list {
        column-gap: 20px;
    }
}





.card__h {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--white);
}

.card__text {
    font-size: 14px;
    color: var(--white);
    opacity: 0.7;
}

@media screen and (max-width: 450px) {
    .card {
        width: 135px;
        height: 83px;
    }
    .card__h {
        font-size: 14px;
    }
    .card__text {
        font-size: 11px;
    }
}

.main__tools__content {
    display: flex;
    padding-top: 60px;
    flex-direction: column;
    align-items: flex-start;
    max-width: 520px;
    row-gap: 10px;
}

.card {
    transition: transform 0.2s ease-out; 
    transform: none;
}

.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    animation: bounce 0.2s linear;
}


.project__card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(23, 23, 24, 0.3);
    animation: pulse 0.2s linear;
}



/* projects */

.projects {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 40px;
    padding: 0 30px;
}
.project__card {
    border-radius: 13px;
    max-width: 320px;
    padding: 20px 22px 30px 22px;
    display: flex;
    flex-direction: column;
    background-color: #27272a;
    transform: none;
}
.card__h-link {
    padding: 15px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 32px;
}

.card__img {
    column-gap: 10px;
    cursor: pointer;
}
.project__card__h {
    font-size: 24px;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
}
.projects__card__text {
    font-size: 16px;
    opacity: 0.7;
    max-width: 276px;
    text-align: justify;
    line-height: 1.4;
    letter-spacing: 0.3px;
    font-weight: 400;
    margin: 0 auto;
    hyphens: auto;
    word-break: keep-all;
}

.container__text__content {
    display: flex;
    flex-direction: column;
}


.br-15 {
    border-radius: 10px;
}

.projects__h {
    display: flex;
    padding: 70px 30px 30px 30px;
    font-size: 32px;
    font-weight: 600;
    font-family: "Outfit", sans-serif;
}

.project__card {
    transition: transform 0.2s ease-out;
}

.project__card:hover {
    transform: scale(1.03); /* Увеличиваем масштаб на 3% */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


/* ABOUT ME */

.about__me {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: space-around;
    background-color: #27272A;
    padding: 44px 30px 30px 30px;
    margin: 0 30px;
    border-radius: 15px;
}

.about-me-cont {
    padding: 0 30px;
}

.about__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 440px;
    width: 263px;
    background-color: #09090B;
    border-radius: 11px;
    position: relative;
}


.about__card::before {
    content: "";
    position: absolute;
    height: 68px;
    width: 50px;
    top: -10%;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: url(../img/Group\ 427320448.png);
}


.about__photo {
    border-radius: 4px;
    display: flex;
    justify-self: center;
    margin-block: 50px 20px;
}

.about__text__content {
    display: flex;
    flex-direction: column;
    max-width: 520px;
    text-align: justify;
    row-gap: 20px;
}
.text__content__h {
    font-size: 42px;
    font-weight: 600;
    font-family: "Outfit", sans-serif;
}
.text__content {
    font-size: 18px;
    opacity: 0.8;
    line-height: 1.4;
    letter-spacing: 0.3px;
    word-break: keep-all;
    hyphens: auto;
    text-align: justify;
    font-weight: 400;
}

.container__text__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__h {
    font-size: 22px;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    padding:0 20px;
    margin: 0 auto;
}
.about__card__text {
    padding: 10px 20px;
    margin: 0 auto;
}
.about__btn__row {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
    padding-bottom: 25px;
}
.about__btn {
    width: 108px;
    height: 33px;
    background-color: #27272A;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    column-gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.about__btn__transparent {
    width: 108px;
    height: 33px;
    border: solid 2px #27272A;
    background-color: transparent;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    column-gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.about__link__github {
    color: var(--white);
}

.shtrih {
    width: 223px;
    height: 43px;
    margin: auto;
    padding-top: 10px;
}
.about__card__footer {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #55555A;
    font-weight: 500;
    padding: 10px 20px;
    font-size: 14px;
    font-family: "Space Grotesk", sans-serif;
}

.about__card {
    transition: transform 0.5s; /* Плавная анимация  */
}

.about__card:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

/* —————— Footer —————— */
.footer {
    background-color: var(--dark-bg);
    color: var(--white);
    padding: 40px 0;
}
.footer__row {
    display: flex;
    justify-content: center;
}

.footer__contact__tg {
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.footer__contact {
    display: flex;
    column-gap: 20px;
    align-items: center;
    padding: 0 30px;
}
.footer__contact h3 {
    font-size: 20px;
    font-family: "Outfit", sans-serif;
}
.footer__contact p {
    font-size: 14px;
    opacity: 0.7;
}
.footer__contact a {
    color: var(--accent);
    transition: opacity 0.2s ease-in;
}
.footer__contact a:hover {
    opacity: 0.8;
}

/* Исходное состояние — задаём transition */


@media screen and (max-width: 1024px) {
    .projects,  .projects__h{
        flex-wrap: wrap;
        justify-content: center;
    }
    .tools__row, .main__tools__content {
        display: inline-flex;
        justify-content: center;
    }
    .about__card::before {
        background-image: none;
    }
}


/* —————— Responsive Adjustments —————— */
@media screen and (max-width: 768px) {
    /* Навигация */
    .projects,  .projects__h{
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-row {
        flex-direction: column;
        row-gap: 10px;
    }
    .nav-list {
        flex-direction: row;
        column-gap: 10px;
        row-gap: 0;
    }

    /* Заголовок */
    .header__title {
        font-size: 32px;
    }
    .header__title strong {
        font-size: 48px;
    }

    /* Секция "About me" */
    .about__me {
        flex-direction: column;
        gap: 30px;
        padding: 30px;
    }
    .text__content {
        font-size: 16px;
        text-align: justify;
    }
    .about__card::before {
        background-image: none;
    }
    .about__btn, .about__btn__transparent {
        font-size: 14px;
        width: 90px;
    }
    .about__link__github {
        display: flex;
        align-items: center;
    }
    .shtrih {
        width: 150px;
    }

}

@media screen and (max-width: 480px) {
    .header__title {
        font-size: 28px;
    }
    .header__title strong {
        font-size: 40px;
    }
    .footer__contact {
        flex-wrap: wrap;
        align-items: center;
        margin: auto;
    }
    .about__text__content {
        text-align: center;
    }
    .tools__content,
    .main__tools__content {
        align-items: center;
        text-align: center;
    }
    .projects {
        justify-content: center;
    }
    .about__card {
        width: 90%;  /* Чтобы карточка занимала почти всю ширину  */
        max-width: 400px; /* Ограничим максимальную ширину  */
        height: auto; /* Чтобы высота подстраивалась под контент  */
    }
    .about__photo {
        margin-left: auto;
        margin-right: auto;
    }
}

/* —————— Animations —————— */
/* Появление элементов */
@keyframes fadeIn {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}

.about__me,
.tools__row .card,
.projects .project__card {
    /* opacity: 0; */           /* Убираем это */
    transform: translateY(20px); /* Начальное положение для fadeIn */
    animation: fadeIn 0.8s ease-out forwards;
}
.header {
    animation-delay: 0.2s;
}
.about__me {
    animation-delay: 0.4s;
}
.tools__row .card {
    animation-delay: 0.6s;
}
.projects .project__card {
    animation-delay: 0.8s;
}

@keyframes pulse {
    50% { transform: scale(1.08); } 
    100% { transform: scale(1.05); }
}

@keyframes bounce {
    50% { transform: translateY(-15px); } 
    100% { transform: translateY(-10px); }
}